# https://stackoverflow.com/questions/53143505/how-to-get-pylint-and-black-working-together-in-vscode
[MASTER]
load-plugins = pylint.extensions.docparams, pylint.extensions.docstyle, pylint.extensions.mccabe

[BASIC]
accept-no-param-doc = yes
accept-no-raise-doc = yes
accept-no-return-doc = yes
accept-no-yields-doc = no
default-docstring-type = numpy

[FORMAT]
max-line-length = 88
good-names = N,X,Y,i,j,t,k,x,y,mu,rho

[MESSAGES CONTROL]
disable = C0330, C0326, C0199, C0411
