absl-py==1.4.0
blackjax @ git+https://github.com/blackjax-devs/blackjax.git@bab42d809b48492f2cbc06471497cefbbf8a90f8
contourpy==1.0.7
cycler==0.11.0
diag==0.0.2
fastprogress==1.0.3
fonttools==4.39.0
jax==0.4.5
jaxlib==0.4.4
jaxopt==0.6
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.2
opt-einsum==3.3.0
packaging==23.0
Pillow==9.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
scipy==1.10.1
six==1.16.0
typing_extensions==4.5.0
