absl-py==1.4.0
arviz==0.15.1
blackjax @ git+https://github.com/blackjax-devs/blackjax.git@bab42d809b48492f2cbc06471497cefbbf8a90f8
cloudpickle==2.2.1
contourpy==1.0.7
cycler==0.11.0
decorator==5.1.1
dm-tree==0.1.8
fastprogress==1.0.3
fonttools==4.39.0
gast==0.5.3
h5netcdf==1.1.0
h5py==3.8.0
jax==0.4.5
jaxlib==0.4.4
jaxopt==0.6
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.2
opt-einsum==3.3.0
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
scipy==1.10.1
six==1.16.0
tensorflow-probability==0.19.0
typing_extensions==4.5.0
xarray==2023.2.0
xarray-einstats==0.5.1
